$shadow-dark: 0 3px 15px rgba(0, 0, 0, 0.3);
$shadow-light: 0 3px 15px rgba(0, 0, 0, 0.1);

$transition: all 0.3s ease-in-out;

$border-radius: 0.625rem;
$gap: 0.625rem;
$maxWidth: 1440px;
$fixedWidth: 620px;
$margin: 0.625rem;
$padding: 0.625rem;
