@use '../abstracts' as *;

.btn {
	font-size: 1rem;
	font-weight: $bold;
	line-height: 1.75rem;
	text-transform: capitalize;
	padding-block: $padding * 1.2;
	padding-inline: $padding * 2.4;
	color: $white;
	border: none;
	border-radius: $border-radius * 2.8;
	box-shadow: $shadow-light;
	@include grid(center);
	transition: $transition;

	&-nav {
		background: $dark-bluish-grey;

		&:hover {
			background: $light-bluish-grey;
		}
	}

	&-hero {
		background:$gradient-2;
		&:hover {
			background: $gradient-2-hover;
		}
	}

	&-footer {
		background: $gradient-3;

		&:hover {
			background: $gradient-3-hover;
		}
	}
}
