@use '../abstracts' as *;

.btn {
	font-size: 1rem;
	font-weight: $bold;
	line-height: 1.75rem;
	text-transform: capitalize;
	padding-block: $padding * 1.2;
	padding-inline: $padding * 2.4;
	color: $white;
	border: none;
	outline: none;
	border-radius: $border-radius * 2.8;
	box-shadow: $shadow-light;
	cursor: pointer;
	@include grid(center);
	transition: $transition;

	&-nav {
		background: $dark-bluish-grey;

		&:hover {
			background: $light-bluish-grey;
		}
	}

	&-hero {
		background: $gradient-2;
		&:hover {
			background: $gradient-2-hover;
		}
	}

	&-card {
		font-size: 1.125rem;
		color: $pink;
		background: $gradient-2;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		box-shadow: none;

		&:hover {
			opacity: 0.8;
		}
	}

	&-footer {
		background: $gradient-3;

		&:hover {
			background: $gradient-3-hover;
		}
	}
}
