@use '../abstracts' as *;

.card {
	width: 100%;
	max-width: 350px;
	height: 259px;
	@include grid(center);
	gap: $gap * 1.6;
	border-radius: $border-radius;
	padding: $padding * 2.8;
	position: relative;
	background-color: $white;
	box-shadow: $shadow-light;

	h2 {
		margin: 0;
		color: $white;
		font-size: 1.5rem;
		font-weight: $extrabold;
		line-height: $lineHeight * 3.2;
	}
	.title {
		font-size: 1.25rem;
		font-weight: $extrabold;
		line-height: $lineHeight * 2.5;
		color: $dark-bluish-grey;
		margin: 0;
		margin-top: 1rem;
		text-transform: capitalize;
		justify-self: start;
	}
	.body {
		font-weight: $medium;
		line-height: $lineHeight * 2.6;
		margin: 0;
		color: $grey;
	}
	.icon {
		width: 56px;
		height: 56px;
		position: absolute;
		top: -2rem;
		left: 1rem;
	}

	.btn {
		justify-self: start;
		padding-left: 0;
	}

	&-one {
		background: $gradient-2;
		height: 7.5rem;
		align-items: start;
	}
}

@media (min-width: 768px) {
	.card {
		&-one {
			height: 259px;
		}
	}
}
