@use '../abstracts' as *;

.container {
	width: min(100%, 1440px);
	padding-block: $padding * 2.2;
	padding-inline: $padding * 1.6;
	box-shadow: $shadow-dark;
}

@media (min-width: 768px) {
	.container {
		width: 768px;
	}
}
@media (min-width: 1440px) {
	.container {
		width: 1440px;
	}
}
