@use '../abstracts' as *;

.hero {
	@include grid(center);
	grid-template-columns: 1fr;
	gap: $gap * 4.8;

	&-text {
		width: 100%;
		text-align: left;
		@include grid(center);
		gap: $gap * 2.4;

		h1 {
			font-size: 40px;
			font-weight: $extrabold;
			line-height: 50px;
			margin: 0;
			color: $dark-bluish-grey;
		}

		p {
			font-weight: medium;
			line-height: $lineHeight * 2.6;
			margin: 0;
			color: $grey;
		}

		button {
			justify-self: start;
		}
	}
}

@media (min-width: 768px) {
	.hero {
		grid-template-columns: repeat(2, 1fr);

		&-text {
			width: 398px;
		}

		&-img {
			.img-container {
				width: 640px;
				height: 640px;
			}
		}
	}
}
