@use '../abstracts' as *;

.footer {
	width: 100%;
	min-height: 7.5rem;
	.container {
		@include grid(center);
		grid-template-columns: repeat(2, 1fr);
		background-color: $dark-bluish-grey;

		.img {
			justify-self: start;
		}
		.btn {
			justify-self: end;
		}
	}
}
