@use '../abstracts' as *;

.footer {
	width: 100%;
	.container {
		@include grid(center);
		grid-template-columns: repeat(2, 1fr);
		background-color: $dark-bluish-grey;
		padding-block: 2rem;

		.img {
			justify-self: start;
			max-width: 89px;
		}
		.btn {
			justify-self: end;
		}
	}
}
