@use '../abstracts' as *;

.main {
	background: $gradient-1;
	width: 100%;
	@include grid(center);
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
	grid-auto-rows: 259px;
	gap: $gap * 3;
}

@media (min-width: 1440px) {
	.main {
		grid-auto-rows: 346px;
	}
}
