@use '../abstracts' as *;

.main {
	width: 100%;
	margin-block: $gap * 6.6;

	.container {
		@include grid(center);
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
		grid-auto-rows: 283px;
		gap: $gap * 3.2;
	}
}

@media (min-width: 768px) {
	.main {
		margin-block: $margin * 9.3;
		.container {
			grid-template-columns: repeat(auto-fit, minmax(min(100%, 335px), 1fr));
			gap: $gap;
		}
	}
}

@media (min-width: 1440px) {
	.main {
		margin-block: $margin * 14;
		.container {
			grid-auto-rows: 346px;
		}
	}
}
