@use '../abstracts' as *;

.main {
	background: $gradient-1;
	width: 100%;
	@include grid(center);
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
	grid-auto-row: 243px;
	gap: $gap * 3;

	.card {
		width: 100%;
		min-height: 100%;
		@include grid(center);
		border-radius: $border-radius;
		padding: $padding;

		&-one {
			background: $gradient-2;
		}
	}
}
