@use '../abstracts' as *;

.main {
	width: 100%;
	transform: translateY(-60px);

	.container {
		@include grid(center);
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
		grid-auto-rows: 283px;
		gap: $gap * 3.2;
	}
}

@media (min-width: 768px) {
	.main {
		transform: translateY(-100px);
		.container {
			grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 1fr));
			gap: $gap * 3.2;
		}
	}
}

@media (min-width: 1440px) {
	.main {
		.container {
			grid-auto-rows: 346px;
		}
	}
}
