@use '../abstracts' as *;

.nav {
	width: 100%;
	@include grid(center);
	grid-template-columns: repeat(2, 1fr);

	.img-container {
		justify-self: start;
	}
	.btn {
		justify-self: end;
	}
}

@media (min-width: 768px) {
	.nav {
		.btn {
			justify-self: start;
		}
	}
}
@media (min-width: 1440px) {
	.nav {
		.btn {
			justify-self: center;
		}
	}
}
